<aside>
	<div class="panel border-dotted radius t60">
		<h3>Cadets Canada</h3>
		<p>Information additionelle via le site Cadets Canada (<a href="https://www.canada.ca/fr/ministere-defense-nationale/services/cadets-rangers-juniors-canadiens/cadets/rejoignez-nous.html" target="_blank">www.cadets.ca</a>)</p>
		<ul>
			<li><a href="https://www.canada.ca/fr/ministere-defense-nationale/services/cadets-rangers-juniors-canadiens/cadets/ce-que-nous-faisons.html" target="_blank">Ce que font les cadets</a></li>
			<li><a href="https://www.canada.ca/fr/ministere-defense-nationale/services/cadets-rangers-juniors-canadiens/cadets/ce-que-nous-faisons/armee.html" target="_blank">Cadets de l'Armée</a></li>
		</ul>
		<p class="text-left">
			<a href="https://inscription.cadets.gc.ca/demarrer.html" target="_blank">Inscription en-ligne</a></p>
	</div>
</aside>